a{
    text-decoration: none;
    color: crimson;
}
nav{
    display: flex;
    gap: 8px;

}
.tablediv{
    padding: 20px;
    text-align: center;
}
.title{
    margin-top: 15px;
    margin-left: 20px;
}
