a{
    text-decoration: none;
    color: crimson;
}
nav{
    display: flex;
    gap: 8px;

}
.tablediv{
    padding: 20px;
    text-align: center;
}
.title{
    margin-top: 15px;
    margin-left: 20px;
}

.actionblock {
    display: flex;
    gap: 10px; /* Khoảng cách giữa 2 nút */
    align-items: center;
    justify-content: center;
}

/* Thêm !important nếu vẫn bị Bootstrap ghi đè */

th{
    text-align: center;
}